/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
}

body {
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Site CSS Code */

/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.white {
    color: #fff;
}

.center {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    color: #333;
    background: linear-gradient(128.16deg,
            rgba(222, 160, 160, 0.85) -3.04%,
            rgba(222, 160, 160, 0) 57.36%) no-repeat;
    background-size: auto 600vh;
}

.grid-container {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 300ms;
}

a:hover {
    color: #666;
}

ul {
    list-style: none;
    padding: 0;
}

header,
section {
    padding: 4rem 0;
}

/* Header and Navigation */

header {
    height: 100px;
    background-color: #333;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav a {
    display: inline-block;
    padding: 0.5rem 1rem;
    transition: color 300ms, transform 300ms, box-shadow 200ms;
    border-radius: 10px;
}

nav a:hover {
    color: #ccc;
}

nav a:active {
    transform: scale(.92);
    box-shadow: inset 2px 2px 4px #1f1f1f,
        inset -1px -1px 2px #f7f7f7;
}


.nav__toggle,
.nav__toggle-label {
    display: none;
}

.nav__phone {
    display: none;
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
    transform: scale(1, 0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
}

header>h1 {
    display: none;
    color: #fff;
}

/* Sections Styles */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92vh;
    justify-content: center;
    scroll-margin-top: 100px;
}

/* Hero Section */

section.hero {
    min-height: calc(100svh - 100px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.hero a {
    margin-top: 1rem;
}

.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 4rem);
    max-width: 800px;
    text-align: center;
}

.hero h1 {
    font-size: clamp(2rem, 6vw, 3rem);
}

.hero h2 {
    font-size: 1.25rem;
}

.cta {
    display: inline-block;
    background-color: #333;
    padding: 0.75rem 1.5rem;
    transition: background-color 300ms;
}

.cta:hover {
    background-color: #666;
    color: #fff;
}

/* About Section */

section.about {
    gap: 1rem;
}

section.about img {
    border-radius: 50%;
    margin-bottom: 1rem;
    width: clamp(100px, 25vw, 200px);
}

.headshot {
    margin: 0 auto;
}

.about>h2:first-of-type {
    margin-bottom: 1.25rem;
}

.about_info {
    display: flex;
    width: calc(100% - 4rem);
    max-width: 1000px;
    gap: 3rem;
    margin: 0 auto;
}

.about_info-card {
    display: flex;
    flex-direction: column;
    max-width: 550px;
}

.about_info-card--heading {
    display: flex;
    padding: .3rem 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px 0 0 20px;
}

.about_info-card--heading>h3:first-of-type {
    border-radius: 20px;
    background-color: #f8ecec;
    color: #000;
    padding: .3rem .635rem;
}

.about_info-card--heading>h3:last-of-type {
    padding: .3rem 0;
    margin-left: 0.75rem;
}

.about_info-card--text {
    margin-top: 1rem;
}

.flex-spacer-column {
    height: 8vh;
}

section.about>ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

section.about>ul a {
    font-size: 1.5rem;
}

/* Portfolio Section */

section.portfolio {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}

section.portfolio h2 {
    margin-bottom: 2rem;
}

.portfolio__grid-container {
    display: grid;
    position: relative;
    width: min(1200px, calc(100% - 4rem));
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 4rem;
    justify-items: center;
    margin-bottom: 1rem;
}

.disable-checkboxes {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
    top: 0;
    left: 0;
}

.project-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    transition: transform 300ms, background-color 300ms;
    padding: 2rem 1rem;
    text-align: center;
    max-width: 575px;
}

.project-card:hover {
    transform: scale(1.05);
    background-color: rgba(244, 244, 244, 0.3);
}

.project-card img {
    max-width: 100%;
    display: block;
}

.project-card h3 {
    margin: 1rem 0;
}

.project-card p {
    padding: 0 1rem;
}

/* Contact Section */

section.contact {
    scroll-margin-top: -56px;
}

section.contact h2 {
    margin-bottom: 2rem;
}

section.contact form {
    display: flex;
    flex-direction: column;
    width: min(800px, calc(100% - 4rem));
    margin: 0 auto;

}

section.contact input,
section.contact textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #ccc;
    outline: none;
    transition: border 300ms ease;
}

section.contact input:focus,
section.contact textarea:focus {
    border-color: rgba(222, 160, 160, 0.85);
}

section.contact button {
    background-color: #333;
    padding: 0.75rem 1.5rem;
    transition: background-color 300ms;
    border: none;
    align-self: flex-end;
}

section.contact button:hover {
    background-color: #666;
}

/* Footer */

footer {
    padding: 1rem 0;
    background-color: #333;
}

footer a {
    margin: 0 0.5rem;
    transition: color 300ms;
}

footer a:hover {
    color: #ccc;
}

/* Media Queries */

@media screen and (max-width: 700px) {
    .about_info {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {

    header {
        align-items: center;
    }

    header>h1 {
        display: block;
    }

    nav {
        display: none;
    }

    .nav__phone {
        display: block;
        border-bottom-right-radius: 10px;
    }


    .nav__toggle:checked~.nav__phone {
        transform: scale(1, 1);
    }

    .nav__toggle-label {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50px;
        margin-left: 1em;
        color: #fff;
    }

    .nav__toggle-label span,
    .nav__toggle-label span::before,
    .nav__toggle-label span::after {
        display: block;
        position: relative;
        background-color: white;
        height: 2px;
        width: 2em;
        border-radius: 2px;
    }

    .nav__toggle-label span::before,
    .nav__toggle-label span::after {
        content: '';
        position: absolute;
    }

    .nav__toggle-label span::before {
        top: -7px;
    }

    .nav__toggle-label span::after {
        top: 7px;
    }

    .nav__phone>ul>li {
        display: block;
        margin-bottom: 1em;
        margin-left: 1em;
    }

    .nav__phone a {
        text-align: left;
        font-size: 1.2rem;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    .nav__toggle:checked~.nav__phone a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 275ms;
    }


    .nav__phone a:hover {
        color: #ccc;
    }
}